<a href="https://colab.research.google.com/github/matthewpecsok/4482_fall_2022/blob/main/labs/Lab3_Classification_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prepare for modeling

## Import packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Import csv

In [ ]:
titanic = pd.read_csv("https://raw.githubusercontent.com/matthewpecsok/4482_fall_2022/main/data/titanic.train.csv")

## show the dtypes

In [ ]:
titanic.dtypes

## descriptive statitics

In [ ]:
titanic.describe(include='all')

In [ ]:
titanic.head(10)

In [ ]:
titanic.Survived.value_counts()

## data tranformations

In [ ]:
from sklearn import tree

## drop columns 

These columns do not generalize and would impact model performance, more will be discussed about this in the next module.

In [ ]:
titanic = titanic.drop(['Name','PassengerId','Ticket','Cabin'],axis=1)

## drop nulls

In [ ]:
titanic = titanic.dropna()

## pclass transformation 

while pclass dytpe is technically an int, it should probably be handled as categorical. why is this true? consider, can you add pclass 2 and pclass 3 and get pclass 5? This data is not quantitative but rather categorical

In [ ]:
titanic['Pclass'] = titanic['Pclass'].astype('object')

check our work

In [ ]:
titanic.info()

## pop the target variable into a new var

In [ ]:
y_target = titanic.pop('Survived')

## one hot encode our categorical columns

A column that is string/object will be transformed, number columns will not.

In [ ]:
# use pandas get_dummies to one-hot-encode categorical values
# we would expect only numeric values left in our dataframe
# rename this df as encoded so we understand it's the encoded version
# of the original
titanic_encoded_X = pd.get_dummies(titanic)

check our work!

we should no longer have words in our data anywhere

In [ ]:
titanic_encoded_X.head()

# models

### model 1

todo: set the max leaf nodes to 2. Replace XXX with 2.
Run the code to build the model and plot the tree

In [ ]:
tree_model_1 = tree.DecisionTreeClassifier(random_state=123,max_leaf_nodes=XXX,criterion='entropy')
tree_model_1.fit(titanic_encoded_X,y_target)

In [ ]:
fig = plt.figure(figsize=(7,7))
_ = tree.plot_tree(tree_model_1,
                   feature_names=titanic_encoded_X.columns.to_list(),
                   filled=True)

todo: set the max leaf nodes to 4

In [ ]:
tree_model_2 = tree.DecisionTreeClassifier(random_state=123,max_leaf_nodes=XXX,criterion='entropy')
tree_model_2.fit(titanic_encoded_X,y_target)

fig = plt.figure(figsize=(7,7))
_ = tree.plot_tree(tree_model_2,
                   feature_names=titanic_encoded_X.columns.to_list(),
                   filled=True)

todo: set the max leaf nodes to 6

In [ ]:
tree_model_3 = tree.DecisionTreeClassifier(random_state=123,max_leaf_nodes=XXX,criterion='entropy')
tree_model_3.fit(titanic_encoded_X,y_target)

fig = plt.figure(figsize=(10,10))
_ = tree.plot_tree(tree_model_3,
                   feature_names=titanic_encoded_X.columns.to_list(),
                   filled=True)

todo: set the max leaf nodes to 6000

In [ ]:
tree_model_3 = tree.DecisionTreeClassifier(random_state=123,max_leaf_nodes=XXX,criterion='entropy')
tree_model_3.fit(titanic_encoded_X,y_target)

fig = plt.figure(figsize=(100,100))
_ = tree.plot_tree(tree_model_3,
                   feature_names=titanic_encoded_X.columns.to_list(),
                   filled=True)